<h1>Turbo Frames</h1>

Current Time: <%= Time.current %> (for seeing page reloads)

<h2>A link that loads in a Turbo Frame</h2>
<%= turbo_frame_tag "link_frame" do %>
  <%= link_to "Load content in frame", home_link_content_path %>
  <br>
  <%= link_to "Bypass frame and do a full page navigation", home_link_content_path, data:  { turbo_frame: '_top' } %>
<% end %>
<br>
<%= link_to "Load content in frame from outside the tag", home_link_content_path, data: { turbo_frame: 'link_frame' } %>

<br>
<h2>A form that submits in a Turbo Frame</h2>
<%= turbo_frame_tag "form_frame" do %>
  <%= form_with url: home_form_content_path, method: :post do |form| %>
    <%= form.label :name, "Enter your name:" %>
    <%= form.text_field :name %>
    <%= form.submit "Submit" %>
  <% end %>

  <%= form_with url: home_form_content_path, method: :post, data: { turbo_frame: "_top" } do |form| %>
    <%= form.label :name, "Enter your name:" %>
    <%= form.text_field :name %>
    <%= form.hidden_field :redirect, value: "true" %>
    <%= form.submit "Form that breaks out of the current turbo frame" %>
  <% end %>
<% end %>

<%= form_with url: home_form_content_path, method: :post, data: {turbo_frame: 'form_frame'} do |form| %>
  <%= form.label :name, "Enter your name:" %>
  <%= form.text_field :name %>
  <%= form.submit "Submit form that's outside of the frame tag" %>
<% end %>

<h2>Changing the src of a Turbo Frame</h2>
<%= turbo_frame_tag "src_frame" do %>
  Initial content of the frame.
<% end %>
<script>
  setTimeout(function() {
    document.getElementById("src_frame").setAttribute("src", "<%= home_src_content_path %>");
  }, 5000)
</script>

<h2>Eager loading data into a Turbo Frame</h2>
<%= turbo_frame_tag "src_frame", src: home_src_content_path do %>
  Initial content of the frame.
<% end %>

<hr>

<h1>Turbo Streams</h1>
<div id="dynamic_content">
  <p>Current time: <%= Time.current %></p>
</div>
<div id="dynamic_content2">
  <p>Current time: <%= Time.current %></p>
</div>

<%= form_with url: home_stream_content_path, method: :post do |form| %>
  <%= form.label :name, "Enter your name:" %>
  <%= form.text_field :name %>
  <%= form.submit "Submit" %>
<% end %>


<%= form_with url: home_stream_content_path, method: :post do |form| %>
  <%= form.label :name, "Enter your name:" %>
  <%= form.hidden_field :redirect, value: "true" %>
  <%= form.text_field :name %>
  <%= form.submit "Submit & Breakout" %>
<% end %>
